.hud {
  position: absolute;
  inset: 0;
  isolation: isolate;
  pointer-events: none;
  overflow: visible;
  z-index: 100;
}

.hud__overlay {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}
