.players-on-table {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-seat {
  position: absolute;
  pointer-events: auto;
}

.player-seat-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-seat-top {
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.player-seat-bottom {
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.player-seat-left {
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.player-seat-right {
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

